// font size btn//
$fz-btn: 14px; 
$col-card: #818b95;

%title-style{
font-size: 30px;
color: #394b50;
text-transform: uppercase;
font-weight: bold;}

%p-style{
    font-size: 18px;
    color: #394b50;
}
